.title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 28px;

  color: #2C323A;
  text-transform: uppercase;
}

input {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 5px;

  width: 80px;
  padding: 4px 0;

  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  text-align: center;

  color: #2C323A;
}

.inputBox {
  display: flex;
  flex-direction: row;
}
